.contactDetail {
  display: flex;
  align-items: center;
}

.contactContent {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.link {
  color: dodgerblue;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}

@media (max-width: 750px) {
  .contactContent {
    word-break: break-word;
  }
}
