.subtitle {
  margin-bottom: 20px;
}

.subtitle > span {
  padding-bottom: 8px;
  position: relative;
}

.subtitle > span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 40px;
  border-bottom: 2px solid dodgerblue;
}
