.subtitle {
  margin-bottom: 15px;
  padding-bottom: 8px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #c2c2c2;
}

.subtitle :before {
  position: absolute;
  background: dodgerblue;
  height: 2px;
  content: "";
  width: 50px;
  bottom: -2px;
  left: 0;
}
